@model AcmeSoft.Mvc.ViewModels.PersEmpIndexViewModel

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeaderItem.PersonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeaderItem.EmployeeNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeaderItem.EmployedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeaderItem.TerminatedDate)
            </th>
            <th>
                <a asp-action="Create">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminatedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.EmployeeId}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.EmployeeId})
                </td>
            </tr>
        }
    </tbody>
</table>
