@model AcmeSoft.Mvc.ViewModels.PersonIndexViewModel
@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HeaderItem.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeaderItem.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeaderItem.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeaderItem.IdNumber)
            </th>
            <th>
                <a asp-action="Create">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items.OrderBy(p => p.LastName).ThenBy(p => p.FirstName))
        {
            <tr data-personId="@item.PersonId">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PersonId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PersonId })
                </td>
            </tr>
        }
    </tbody>
</table>